<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>People Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/site.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <h1>People Found</h1>
    <main>
        <ul>
            {{#each personName}}
            <li>
                <h2><a href="/details/{{_id}}">{{personName}}</a></h2>
            </li>
            {{/each}}
        </ul>
    </main>
</body>

</html>