<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.min.css" />
  </head>
  <body>
    <h1>Glasses Shop for Nathaniel</h1>
    <div class="container">
        <div class="row">
            <nav class="nav flex-column col-lg-3 col-md-4 col-sm-12">
                <a class="nav-link" href="#glasses1">First Item</a>
                <a class="nav-link" href="#glasses2">Second Item</a>
                <a class="nav-link" href="#glasses3">Third Item</a>
                <a class="nav-link" href="#glasses4">Fourth Item</a>
                <a class="nav-link" href="#glasses5">Fifth Item</a>
                <a class="nav-link" href="#glasses6">Sixth Item</a>
                <a class="nav-link" href="#glasses7">Seventh Item</a>
                <a class="nav-link" href="#glasses8">Eighth Item</a>
                <a class="nav-link" href="#glasses9">Ninth Item</a>
                <a class="nav-link" href="#glasses10">Tenth Item</a>
            </nav>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="row">
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses1">
                        <img class="card-img-top" src="/public/images/1.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">First COOL Glasses</h2>
                            <p class="card-text">Hello Nate is here</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses1-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses2">
                        <img class="card-img-top" src="/public/images/2.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Second Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, ut?</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses2-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses3">
                        <img class="card-img-top" src="/public/images/3.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Third Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, cumque!</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses3-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses4">
                        <img class="card-img-top" src="/public/images/4.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Fourth Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, unde?</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses4-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses5">
                        <img class="card-img-top" src="/public/images/5.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Fifth Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, doloremque!</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses5-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses6">
                        <img class="card-img-top" src="/public/images/6.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Sixth Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dolores?</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses6-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses7">
                        <img class="card-img-top" src="/public/images/7.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Seventh Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, ullam!</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses7-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses8">
                        <img class="card-img-top" src="/public/images/8.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Eighth Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ut?</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses8-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses9">
                        <img class="card-img-top" src="/public/images/9.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Ninth Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nihil?</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses9-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" id="glasses10">
                        <img class="card-img-top" src="/public/images/10.png" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Tenth Glasses</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti!</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#glasses10-modal">
                                More Detail
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="glasses1-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">First Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet quo pariatur harum accusamus et molestiae autem ipsa soluta culpa. Quas accusamus illum asperiores quis officia recusandae debitis neque, quaerat delectus veniam ad minima cum dignissimos aut sequi architecto libero!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses2-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Second Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime debitis accusamus cum nihil nostrum? Perspiciatis voluptatum doloribus a aspernatur qui.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses3-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Third Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quidem minima, delectus quae perferendis sequi a aperiam vel autem ducimus.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses4-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Fourth Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique iure cumque incidunt a odit, ad nostrum omnis veniam iusto possimus?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses5-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Fifth Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, repellat autem. Aut quae necessitatibus labore repellendus mollitia, atque porro magnam!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses6-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Sixth Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nulla autem quibusdam, magni nemo eum officiis soluta a in dolorem?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses7-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Seventh Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit in qui doloribus. Quibusdam doloribus ratione dicta impedit laudantium corrupti dolore!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses8-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Eighth Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, officiis voluptate cumque explicabo distinctio dolorem ipsam aperiam nemo nulla consequuntur.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses9-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Ninth Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non voluptate quasi earum amet, aliquid facere aut! Porro, enim omnis!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="glasses10-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Tenth Glasses</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, distinctio ullam? Ad tempora laudantium voluptate? Cum aspernatur quidem accusamus optio!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/vendor.min.js"> </script>
</body>
</html>
