@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $body-background;
}

.container {
  margin-bottom: 3rem;
}

/* Heading */
h1 {
  font-family: $mj-heading-font;
  text-align: center;
  margin-top: $mj-heading-margin + 1.5;
  margin-bottom: $mj-heading-margin;
}

/* Nav bar */
.nav {
  text-align: center;
  background-color: $mj-nav-background;
  margin-top: 3rem;
  border-radius: $mj-image-radius;
}

.nav-link {
  font-family: $mj-card-font;
  font-size: 1.5rem;
  margin-top: $mj-link-margin;
  margin-bottom: $mj-link-margin;
  color: $mj-nav-color;
}

.nav-link:hover {
  color: $nav-hover;
}

/* Cards */
.card {
  margin-top: $mj-card-margin;
}

.card-img-top {
  margin-top: $mj-card-margin / 2;
  border-radius: $mj-image-radius;
}

.card-title,
.card-text {
  font-family: $mj-card-font;
}

.card-footer {
  margin-bottom: $mj-card-margin / 2;
}
