<section>
    <h4>Enter a number here</h4>
    <div class="form">
        <form method="POST" action="/results">
            <div class="form-group">
                <label name="inputNumber">Check if the number is prime or not!</label>
                <input type="text" class="form-control" id="inputNumber" placeholder="Enter a number">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="alert alert-danger hidden" role="alert" id="error-container">
            A simple danger alert—check it out!
        </div>
        <ol id="attempts"></ol>
    </div>

</section>
<script src="public/js/form.js"></script>