<section>
    <h4>Enter a number here</h4>
    <div class="form">
        <form method="POST" action="/" id="mjForm">
            <div class="form-group">
                <label>Check if the number is prime or not!</label>
                <input type="number" class="form-control" name="inputNumber" id="inputNumber"
                    placeholder="Enter a number">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <div class="form-group hidden" id="error-container">
            <div class="alert alert-danger error-message" role="alert">
            </div>
        </div>
        <ol id="attempts"></ol>
    </div>

</section>
<script src="public/js/form.js"></script>