<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>People Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/site.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Search again?</a></li>
        </ul>
    </nav>
    <h1>People Finder</h1>
    <main>
        <p>Hello Rob, Keep in mind that I'm your TA too.</p>
        <form method="GET" action="/search">
            <label name="personName" id="id">Person Name</label>
            <input type="text" name="personName" placeholder="enter name" value="" id="id" />
            <button class="btn" type="submit">Search</button>
        </form>
    </main>

</body>